.headerImg
  user-select: none
  -webkit-user-drag: none
  transition: all 250ms ease
  transform: scale(1)
  &:hover
    transform: scale(0.98)

  &:active
    transform: scale(1.02)
.styledToggleButtonGroup
  >*
    >*
      margin-inline: 4px !important
      border: none !important
      border-radius: 16px !important
      padding: 8px 16px !important

.toggleMenu
  >*
    font-size: 18px
    transition: all 250ms ease
    &:hover
      color: #48bdcf
.selected
  transition: all 250ms ease
  color: #48bdcf
  font-weight: bold
